.shopping-list-item {
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  border-left: #ff9f0a 15px solid;
}

.shopping-list-item__name {
  text-align: left;
}

.shopping-list-item__quantity {
  text-align: right;
  margin-left: auto;
}
